<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.reggie.mapper.ShoppingCartMapper">


    <insert id="addCart" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shopping_cart
        <trim prefix="(" suffix=")">
            <if test="dishId != null">
                dish_id,
            </if>
            <if test="dishFlavor != null">
                dish_flavor,
            </if>
            <if test="setmealId != null">
                setmeal_id,
            </if>
            name,
            user_id,
            amount,
            image,
            create_time
        </trim>
        <trim prefix="VALUES (" suffix=")" >
            <if test="dishId != null">
                #{dishId},
            </if>
            <if test="setmealId != null">
                #{setmealId},
            </if>
            <if test="dishFlavor != null">
                #{dishFlavor},
            </if>
            #{name},
            #{userId},
            #{amount},
            #{image},
            #{createTime}
        </trim>
    </insert>

    <select id="listCart" resultType="com.itheima.reggie.entity.ShoppingCart">
        select * from shopping_cart where user_id = #{uid}
    </select>

    <select id="findInCart" resultType="com.itheima.reggie.entity.ShoppingCart">
        select * from shopping_cart where user_id = #{uid} and dish_id = #{did}
    </select>

    <update id="updateCart">
        UPDATE shopping_cart
        SET number = #{number}
        WHERE user_id = #{userId} AND dish_id = #{dishId}
    </update>
</mapper>
